{% extends "_app.html" %}
{% block body %}
<h1>ARE YOU USING <a href="/php">PHP</a>, <a href="/rails">RAILS</a>, <a href="/python">PYTHON</a>,
  <a href="/compiled">JAVA OR DOTNET</a>, <a href="/hipster">A HIPSTER BACKEND</a>, OR <a href="/js">JAVASCRIPT?</a></h1>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="LionelBarrow">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock %}
